extends ./layout.tpl.jade

block content
	//- h1 Friendly &amp; Fun Chat Room
	//- hr
	.home
		#auth(ng-show="! vm.userIsLoggedIn()")
			.panel
				center.panel-body
					.row
						.col-xs-1
						.col-xs-5
							a(href="/signup")
								//- img.avatar.panel(src="https://api.adorable.io/avatars/450/a.png")
								h2 Sign Up
						.col-xs-5
							a(href="/login")
								//- img.avatar.panel(src="https://api.adorable.io/avatars/450/rebekah@test.com")
								h2 Log In
						.col-xs-1
		#triggerings(ng-show="vm.userIsLoggedIn()")
			center
				//- .panel
					//- .panel-body
						//- h4 Garage Controls:
				br
				button.btn.btn-primary.btn-lg(ng-click="vm.addTriggering()") Trigger Garage Door
				//- a(href="/account")
					img.avatar.panel(src="https://api.adorable.io/avatars/450/{{vm.getCurrentUser().email}}")
					h3 Go to Chat Account
				br
				br
				br
				//- br
				br
				h4 Recent:
				.triggering(
					ng-repeat="t in vm.triggerings | orderBy:'-timestamp'"
					ng-if="t.timestamp"
					ng-class="{mine:t.senderEmail == vm.getCurrentUser().email}"
				)
					.panel-body-NOT
						//- p.text {{t.text}}
						//- hr
						hr(style="width:300px; margin:20px auto;")
						img.avatar.panel(src="https://api.adorable.io/avatars/50/{{t.senderEmail}}")
						br
						code.timestamp {{t.timestamp | date:'EEE MMM d, y @ h:mm:ss a'}}
						h5.senderEmail {{t.senderEmail}}