extends ./layout.tpl.jade

block content
	br
	.panel
		.panel-body
			center 
				//- h1 Friendly &amp; Fun Chat Room
				//- hr
				.home-avatars.row
					.auth-prompt(ng-show="! vm.userIsLoggedIn()")
						.col-xs-1
						.col-xs-5
							a(href="/signup")
								//- img.avatar.panel(src="https://api.adorable.io/avatars/450/a.png")
								h2 Sign Up
						.col-xs-5
							a(href="/login")
								//- img.avatar.panel(src="https://api.adorable.io/avatars/450/rebekah@test.com")
								h2 Log In
						.col-xs-1
					.trigger-prompt(ng-show="vm.userIsLoggedIn()")
						.col-xs-4
						.col-xs-4
							h2 Open that garage, yo! (coming soon)
							//- a(href="/account")
								img.avatar.panel(src="https://api.adorable.io/avatars/450/{{vm.getCurrentUser().email}}")
								h3 Go to Chat Account
						.col-xs-4
				hr
				p (app under construction)
