extends ./layout.tpl.jade

block content

	// https://getbootstrap.com/examples/signin/
	form.form-signin
		img.avatar.panel(src="https://api.adorable.io/avatars/450/{{vm.email || 'a.png'}}")
		h2.form-signin-heading Sign up:

		label.sr-only(for="inputEmail") Email address
		input.form-control(type="email", id="inputEmail", ng-model="vm.email" placeholder="Email address", required="", autofocus="", autocomplete="off")

		label.sr-only(for="inputPassword") Password
		input.form-control(type="password", id="inputPassword", ng-model="vm.password" placeholder="Password", required="", autocomplete="off")

		//- div.checkbox
			label
				input( type="checkbox", value="remember-me")
				span Remember me

		button.btn.btn-lg.btn-primary.btn-block(type="submit", ng-click='vm.signup({email:vm.email, password:vm.password})') Create my account!
		br
		.alert.alert-danger(ng-show="vm.signupError.message") {{vm.signupError.message}}
